---
---

<html>
    <head>
        <!--Stylesheets-->

        <title>HackJaipur</title>
        <link type="text/css" rel="stylesheet" href="./css/main.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="24 Hour Hackathon in Birmingham" />
        <meta property="og:description" content="HackJaipur is a 24 hour hackathon based at Millenium Point in Birmingham. Whether you're a newbie or an expert, come along to learn, build and share and have a blast at the same time!" />
        <meta property="og:image" content="http://HackJaipur.com/images/HackJaipur-facebook.jpg" />
        <meta property="og:url" content="http://HackJaipur.co.uk" />

        <script src="https://use.typekit.net/dme1ptj.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="./js/clock.js"></script>

        <style>
            #event-info a {
                color: #fff;
                font-weight: bold;
            }
            .nav-left img{
              height: 100px;
            }
            #footer-logo img{
              height: 50px;
              margin-top: -2px;
              margin-left: 20px;
            }
        </style>
	</head>
	
    <body>
      <div class="nav-mobile-content-container">
        <div id="mobile-close">
            <h1 id="mobile-close">X</h1>
        </div>
        <div class="nav-mobile-content">
            <a href="#event-info">About Us</a>
            <a href="#sponsors">Sponsors</a>
            <a href="#team">Team</a>
            <a href="event-info.html">Event Information</a>
            <a href="/safeguarding">Safeguarding</a>
        </div>
      </div>

        <section id="hero">
            <div class="video-container">
                <video id="video" autoplay muted loop="true">
                    <source src="hero.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="overlay"></div>
            <div class="dot-back"></div>
            <div class="navigation">
                    <div class="nav-left">
                        <!-- <img src="./images/htmlogo.png"/> -->
                        <!-- <h1>HJ</h1> -->
                    </div>
                    <div class="nav-right">
                        <div class="nav-right-content">
                            <div class="links">
                                <a href="#event-info">About Us</a>
                                <a href="#sponsors">Sponsors</a>
                                <a href="#team">Team</a>
                                <a href="event-info.html">Event Information</a>
                            </div>
                            <div class="nav-mobile"></div>
                           </div>
                    </div>
                </div>
            <div class="header-content">
                <h1>Are you ready for <br/><span class="header-title"><span>Hack</span><span> Jaipur</span><span> 1.0? </span></span></h1>
                <h3>14<sup>th</sup> - 20<sup>th</sup> June, Virtually!!</h3>
                <a href="http://hackjaipur.devfolio.co"><button id="apply-button">Apply @DevFolio</button></a>
                <a href="https://forms.gle/4cEM8n8DM8cFAW4f8"><button id="apply-button">Submit Talk</button></a>

            </div>
            <div class="social-links-header">
                <a target="_blank" href="https://discord.gg/hackjaipur"><img id="logo" src="images/discord.svg" /></a>
                <a target="_blank" href="https://twitter.com/hackjaipur/"><img id="logo" src="images/twitter.svg" /></a>
                <a target="_blank" href="https://github.com/heromayank2/"><img id="logo" src="images/github.jpg" /></a>
                <a target="_blank" href="https://instagram.com/hackjaipur/"><img id="logo" src="images/instagram.svg" /></a>
                <a target="_blank" href="https://www.linkedin.com/company/hackjaipur/"><img id="logo" src="images/linkedin.png" /></a>
            </div>
        </section>
        <section id="event-countdown">
            <div class="container">
                <img src="./images/confetti.png"/>
                <h3><span id="countdown-description"></span></h3>
                <div id="countdown">
                    <div>
                        <span class="days"></span>
                        <div class="smalltext">Days</div>
                    </div>
                    <div>
                        <span class="hours"></span>
                        <div class="smalltext">Hours</div>
                    </div>
                    <div>
                        <span class="minutes"></span>
                        <div class="smalltext">Minutes</div>
                    </div>
                    <div>
                        <span class="seconds"></span>
                        <div class="smalltext">Seconds</div>
                    </div>
                </div>
            </div>
            <div id="faq-slit-top"></div>
        </section>
        <section id="event-info">
            <div class="container" id="faq">
                <h1>FAQ</h1>
                <hr/>
                <div class="faq-post">
                    <h2>What is <span class="span-capital">Hack<span>Jaipur?</span></span></h2>
                    <p>HackJaipur is a 24-hour, inclusive hackathon being hosted in Birmingham on the 26th - 27th October at Millennium Point.</p>
                    <p>Over the 24 hours, people aged 14+ of all skill levels <b>(you don't have to be a professional or a student! Just be lovely, passionate and interested in tech!)</b> will come together to share ideas, and create new and awesome projects! (Not sure what a hackathon is? MLH have a great explanation <a href="https://mlh.io/college-administrator-hackathon-guide">here</a>). </p>
                </div>
                <div class="faq-post">
                    <h2>How much does it cost?</h2>
                    <p>HackJaipur is absolutely <strong>free</strong> to attend! You can participate for free via. the Devfolio link above.</p>
                </div>
                <div class="faq-post">
                    <h2>Can students Attend?</span></h2>
                    <p> Yes, this is a student-held hackathon only. We would love to have your participation.</p>
                </div>
                <div class="faq-post">
                    <h2>What if I don't know how to code?</h2>
                    <p>That is not a problem! A great way to learn how to code is by attending a hackathon. It's an event for like-minded people to share what they are interested in and teach each-other what they are passionate about, whether its coding, electronics or anything else you want to know about. You never know what new skill you might pick up! You can also ask specific questions to our mentors and in the Discord server, where people are there to help. Plus we have planned numerous workshops and talks for you guys to make the learning process better.</p>
                </div>
                <div class="faq-post">
                    <h2>I don't have a team</h2>
                    <p>Don't worry! Many people don't have a team when they turn up to a hackathon. You will be able to meet people and network before the hacking begins, and we also have our <a href="">Discord server</a> where people are looking for teams and teams are looking for members. </p>
                </div>
                <div class="faq-post">
                    <h3>Code of Conduct</h3>
                    <p>We will be following the Hack Code of Conduct, which can be found <a href="">here</a>.</p>
                </div>
                <h3>Join Us!</h3>
                <p>Register your team now for HackJaipur at <a href="http://hackjaipur.devfolio.co">Devfolio</a>!</p>
            </div>
            <div class="google-maps">
                <div id="faq-slit-bottom"></div>
                <iframe width="100%" height="500px" frameBorder="0" src="https://a.tiles.mapbox.com/v4/alexmusethemes.18gfnp97.html?access_token=pk.eyJ1IjoiYWxleG11c2V0aGVtZXMiLCJhIjoiY2lrOGtnOWp0MDAxcXZ5bTg2bnR2Mmo1cSJ9._0Ye5dZotjyEMAnd1Qno6Q"></iframe>
                <div id="sponsor-slit-bottom"></div>
            </div>
        </section>
        <section id="sponsors">
            <div class="container">
                <h2>Our Sponsors</h2>
                <hr/>
                <div class="sponsors-list">
                    <div class="partner">
                        {% for sponsor in site.data.sponsors.sponsers %}
                        <div class="sponsor-icons">
                            <a href="{{ sponsor.link }}"><img src="{{ sponsor.logo }}"/></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <a href="https://forms.gle/j69D2QaxBf3aqGnn9"><button>Become A Sponsor!</button></a>
            </div>
            <div id="sponsor-slit-top"></div>
        </section>
        <section id="team">
            <div class="container team-container">
                <div class="team-container__header">
                    <h2>Meet the Speakers</h2>
                    <hr/>
                    <h3>For an Awesome Hackathon you must have Awesome Speakers.</h3>
                </div>
                <div class="team-grid-container">
                    {% for person in site.data.speaker %}
                    <div class="team-grid team-member">
                        {% if person.twitter %}
                        <a class="team-member__picture_container" href="https://twitter.com/{{ person.twitter }}">
                        {% else %}
                        <a class="team-member__picture_container">
                        {% endif %}
                        <img class="team-member__picture" src="{{ person.picture }}">
                        </a>
                        <div class="team-member__text">
                            <div class="team-member__text__content">
                                <h3>{{ person.name }}</h3>
                                <h5>{{ person.role }}</h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="team-slit-bottom"></div>
        </section>
        <section id="sponsors">
            <div class="container">
                <h2>Our Partners</h2>
                <hr/>
                <div class="sponsors-list">
                    <div class="partner">
                        {% for sponsor in site.data.sponsors.partners %}
                        <div class="sponsor-icons">
                            <a href="{{ sponsor.link }}"><img src="{{ sponsor.logo }}"/></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <a href="https://forms.gle/j69D2QaxBf3aqGnn9"><button>Become A Sponsor!</button></a>
            </div>
            <div id="sponsor-slit-top"></div>
        </section>
        <section id="team">
            <div class="container team-container">
                <div class="team-container__header">
                    <h2>Meet the team</h2>
                    <hr/>
                    <h3>Without a team of dedicated volunteers this hackathon simply would not happen. Here's your chance to meet the awesome people who are behind <span class="span-capital">HackJaipur.</span></h3>
                </div>
                <div class="team-grid-container">
                    {% for person in site.data.team %}
                    <div class="team-grid team-member">
                        {% if person.twitter %}
                        <a class="team-member__picture_container" href="https://twitter.com/{{ person.twitter }}">
                        {% else %}
                        <a class="team-member__picture_container">
                        {% endif %}
                        <img class="team-member__picture" src="{{ person.picture }}">
                        </a>
                        <div class="team-member__text">
                            <div class="team-member__text__content">
                                <h3>{{ person.name }}</h3>
                                <h5>{{ person.role }}</h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="team-slit-bottom"></div>
        </section>
        <footer>
            <div id="footer-logo">
                <!-- <img src="./images/htmlogo.png"/> -->
            </div>
            <div class="social-links" id="footer-social">
                <a target="_blank" href="https://www.linkedin.com/company/HackJaipur/"><img src="images/linkedin.png"/></a>
                <a target="_blank" href="https://www.github.com/HackJaipur/"><img src="images/github.jpg"/></a>
                <a target="_blank" href="https://twitter.com/HackJaipur/"><img id="twitter" src="images/twitter.svg"/></a>
                <a target="_blank" href="https://www.facebook.com/HackJaipur"><img src="images/facebook.svg"/></a>
                <a target="_blank" href="https://discord.gg/HackJaipur"><img src="images/discord.svg"/></a>
            </div>
        </footer>

        <script>
            $(function() {
                $('a[href*="#"]:not([href="#"])').click(function() {
                    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                        if (target.length) {
                            $('html, body').animate({
                                scrollTop: target.offset().top
                            }, 1000);
                            return false;
                        }
                    }
                });
            });
        </script>

        <script>
            $('.nav-mobile').on('click', function(){
               $('.nav-mobile-content-container').css({
                   maxHeight: '100%',
                   height: '100%',
                   opacity: 1
               })
            });
            $('#mobile-close').on('click', function(){
                $('.nav-mobile-content-container').css({
                    opacity: 0,
                    maxHeight: '0px'
                });
            });
        </script>

        <script>
            var myVideo = document.getElementById('video');
            if (typeof myVideo.loop == 'boolean') { // loop supported
                myVideo.loop = true;
            } else { // loop property not supported
                myVideo.on('ended', function () {
                    this.currentTime = 0;
                    this.play();
                }, false);
            }
            myVideo.play();
        </script>
    </body>
</html>
