---
---

<html>
    <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166857378-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-166857378-1');
</script>

        <!--Stylesheets-->

        <title>HackJaipur</title>
        <link type="text/css" rel="stylesheet" href="./css/main.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="India's Biggest Student Held Virtual Hackathon" />
        <meta property="og:description" content="HackJaipur is a community-focused virtual Hackathon, designed especially for the needs of the communities, with problem statements centered around the community itself. Whether you are a beginner or an expert, here is the perfect chance to hone and show your skills and witness the competitive yet inclusive developer community around you!" />
        <meta property="og:image" content="https://HackJaipur.com/images/cover.jpeg" />
        <meta property="og:url" content="https://HackJaipur.com" />

        <script src="https://use.typekit.net/dme1ptj.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="./js/clock.js"></script>

        <style>
            #event-info a {
                color: #fff;
                font-weight: bold;
            }
            .nav-left img{
                height: 100px;
            }
            #footer-logo img{
                height: 50px;
                margin-top: -2px;
                margin-left: 20px;
            }
            #devfolio-apply-now {
            -ms-flex-align: center;
            -webkit-box-align: center;
            align-items: center;
            background-color: #3770FF;
            border-radius: 3px;
            border: none;
            color: #FFFFFF;
            cursor: pointer;
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
            font-size: 18px;
            font-weight: 600;
            padding: 12px 20px;
            text-align: center;
            text-transform: lowercase;
        }

    #devfolio-apply-now:not([disabled]) {
        cursor: pointer;
    }

    #devfolio-apply-now:hover {
        background-color: #2954BF !important;
    }
        </style>
	</head>
	
    <body>
      <div class="nav-mobile-content-container">
        <div id="mobile-close">
            <h1 id="mobile-close">X</h1>
        </div>
        <div class="nav-mobile-content">
            <a href="#event-info">About Us</a>
            <a href="#sponsors">Sponsors</a>
            <a href="#speaker">Speakers</a>
            <a href="#teams">Team</a>
            <!-- <a href="event-info.html">Event Information</a> -->
            <!-- <a href="/safeguarding">Safeguarding</a> -->
        </div>
      </div>

        <section id="hero">
            <div class="video-container">
                <video id="video" autoplay muted loop="true">
                    <source src="hero.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="overlay"></div>
            <div class="dot-back"></div>
            <div class="navigation">
                    <div class="nav-left">
                        <!-- <img src="./images/htmlogo.png"/> -->
                        <!-- <h1>HJ</h1> -->
                    </div>
                    <div class="nav-right">
                        <div class="nav-right-content">
                            <div class="links">
                                <a href="#event-info">About Us</a>
                                <a href="#sponsors">Sponsors</a>
                                <a href="#speaker">Speakers</a>
                                <a href="#teams">Team</a>
                                <!-- <a href="event-info.html">Event Information</a> -->
                            </div>
                            <div class="nav-mobile"></div>
                           </div>
                    </div>
                </div>
            <div class="header-content">
                <h1>Are you ready for <br/><span class="header-title"><span>Hack</span><span> Jaipur</span><span>? </span></span></h1>
                <h3>14<sup>th</sup> - 20<sup>th</sup> June, Virtually!!</h3>
                <a href="https://hackjaipur.typeform.com/to/ZxK5VK"><button id="apply-button">Submit Talk</button></a><br/><br/>
                <button id="devfolio-apply-now"><svg class="logo" xmlns="http://www.w3.org/2000/svg" fill="#fff"viewBox="0 0 115.46 123.46" style="height:24px;width:24px;margin-right:8px"><path d="M115.46 68a55.43 55.43 0 0 1-50.85 55.11S28.12 124 16 123a12.6 12.6 0 0 1-10.09-7.5 15.85 15.85 0 0 0 5.36 1.5c4 .34 10.72.51 20.13.51 13.82 0 28.84-.38 29-.38h.26a60.14 60.14 0 0 0 54.72-52.47c.05 1.05.08 2.18.08 3.34z" /><path d="M110.93 55.87A55.43 55.43 0 0 1 60.08 111s-36.48.92-48.58-.12C5 110.29.15 104.22 0 97.52l.2-83.84C.38 7 5.26.94 11.76.41c12.11-1 48.59.12 48.59.12a55.41 55.41 0 0 1 50.58 55.34z"/></svg>Apply with Devfolio</button><br/>
                

            </div>
            <div class="social-links-header">
                <a target="_blank" href="https://t.me/hackjaipur"><img src="images/telegram.png"/></a>
                <a target="_blank" href="https://twitter.com/hackjaipur/"><img id="logo" src="images/twitter.svg" /></a>
                <a target="_blank" href="https://github.com/heromayank2/"><img id="logo" src="images/github.jpg" /></a>
                <a target="_blank" href="https://instagram.com/hackjaipur/"><img id="logo" src="images/instagram.svg" /></a>
                <a target="_blank" href="https://www.linkedin.com/company/hackjaipur/"><img id="logo" src="images/linkedin.png" /></a>
            </div>
        </section>
        <section id="event-countdown">
            <div class="container">
                <img src="./images/building.png"/>
                <b><h3><span id="countdown-description" style="font-family: Verdana, Geneva, Tahoma, sans-serif;"></span></h3></b>
                <div id="countdown">
                    <div>
                        <span class="days"></span>
                        <div class="smalltext">Days</div>
                    </div>
                    <div>
                        <span class="hours"></span>
                        <div class="smalltext">Hours</div>
                    </div>
                    <div>
                        <span class="minutes"></span>
                        <div class="smalltext">Minutes</div>
                    </div>
                    <div>
                        <span class="seconds"></span>
                        <div class="smalltext">Seconds</div>
                    </div>
                </div>
            </div>
            <div id="faq-slit-top"></div>
        </section>
        <section id="event-info">
            <div class="container" id="faq">
                <h1 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Frequently Asked Questions</h1>
                <hr/>
                <div class="faq-post">
                    <h2>What is <span class="span-capital">Hack<span>Jaipur?</span></span></h2>
                    <p>HackJaipur is a community-focused virtual Hackathon, designed especially for the needs of the communities, with problem statements centered around the community itself. Whether you are a beginner or an expert, here is the perfect chance to hone and show your skills and witness the competitive yet inclusive developer community around you!  </p>
                    <p> In light of the CoronaVirus outbreak, your safety and well-being are our primary concerns. Hence, all the activities related to HackJaipur like workshops, talks, and presentations will also be conducted online/virtually. </p>
                </div>
                <div class="faq-post">
                    <h2>Why <span class="span-capital">Hack<span>Jaipur?</span></span></h2>
                    <i>Jaipur has been always the mother of traditional communities even before the civilizations started.</i>
                    <p>HackJaipur follows the same culture and seeks for different solutions to various issues the tradition face from time to time. HackJaipur represents the cultural integrity and bond of our tradition. </p> 
                    <p>We didn't start HackJaipur to simply conduct a Hackathon but to make people aware of our community's issues and solutions that exist currently.</p></div>
                <div class="faq-post">
                    <h2>How much does it cost?</h2>
                    <p>HackJaipur is absolutely <strong>free</strong> to attend! You can participate for free via. the Devfolio link above.</p>
                </div>
                <div class="faq-post">
                    <h2>Can students Attend?</span></h2>
                    <p> Yes, this is a student-held hackathon only. We would love to have your participation.</p>
                </div>
                <div class="faq-post">
                    <h2>What if I don't know how to code?</h2>
                    <p>That is not a problem! A great way to learn how to code is by attending a hackathon. It's an event for like-minded people to share what they are interested in and teach each-other what they are passionate about, whether its coding, electronics or anything else you want to know about. You never know what new skill you might pick up! You can also ask specific questions to our mentors and in the Discord server, where people are there to help. Plus we have planned numerous workshops and talks for you guys to make the learning process better.</p>
                </div>
                <!-- <div class="faq-post">
                    <h2>I don't have a team</h2>
                    <p>Don't worry! Many people don't have a team when they turn up to a hackathon. You will be able to meet people and network before the hacking begins, and we also have our <a href="">Discord server</a> where people are looking for teams and teams are looking for members. </p>
                </div> -->
                <div class="faq-post">
                    <h2>Code of Conduct</h2>
                    <p>We will be following the Hack Code of Conduct, which can be found <a href="https://devfolio.co/code-of-conduct">here</a>.</p>
                </div>
                <div class="faq-post">
                    <h2>Why is HackJaipur for you or why should you participate in it?</h2>
                    <p><ul>
                        <li>HackJaipur is an Online Hackathon, which means it provides you the opportunity to participate directly from your Home, no fuss of going here and there.</li>
                        <li>Ample Goodies and Swags for every participant.</li>
                        <li>Prizes worth 60,000 INR.</li>
                        <li>You will learn how to work remotely and handle multiple things. Perhaps, a golden opportunity to connect with like-minded participants.</li>
                        <li>Get Microsoft Azure Passes which can be redeemed to earn Azure Credits.</li>
                    </ul></p>
                </div>
                <p>Register your team now for HackJaipur at <a href="http://hackjaipur.devfolio.co">Devfolio</a>!</p>
            </div>
            <div id="team-slit-bottom"></div>
        </section>
        <section id="sponsors">
            <div class="container">
                <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Sponsors</h2>
                <a href="https://hackjaipur.typeform.com/to/p9unMf"><button>Become A Sponsor!</button></a>
                <hr style="width:50px"/>
                <div class="sponsors-list">
                    <h5>Title</h5>
                    <div class="partner">
                        {% for sponsor in site.data.sponsors.title %}
                        <div class="sponsor-icons">
                            <a href="{{ sponsor.link }}"><img src="{{ sponsor.logo }}"/></a>
                        </div>
                        {% endfor %}
                    </div>
                <h5>Gold</h5>
                <div class="partner">
                    {% for sponsor in site.data.sponsors.gold %}
                    <div class="sponsor-icons">
                        <a href="{{ sponsor.link }}"><img src="{{ sponsor.logo }}"/></a>
                    </div>
                    {% endfor %}
                </div>
                <h5>Silver</h5>
                <div class="partner">
                    {% for sponsor in site.data.sponsors.silver %}
                    <div class="sponsor-icons">
                        <a href="{{ sponsor.link }}"><img src="{{ sponsor.logo }}"/></a>
                    </div>
                    {% endfor %}
                </div>
                <div class="partner">
                    {% for sponsor in site.data.sponsors.sponsers %}
                    <div class="sponsor-icons">
                        <a href="{{ sponsor.link }}"><img src="{{ sponsor.logo }}"/></a>
                    </div>
                    {% endfor %}
                </div>
                </div>
            </div>
            <div id="sponsor-slit-top"></div>
        </section>
        <section id="speaker"></section>
        <section id="team">
            <div class="container team-container">
                <div class="team-container__header">
                    <h2>Meet the Speakers</h2>
                    <hr/>
                    <h3>If you are interested in giving a talk too, Submit your talk <a href="https://hackjaipur.typeform.com/to/ZxK5VK">here.</a></h3>
                </div>
                <div class="team-grid-container">
                    {% for person in site.data.speaker %}
                    <div class="team-grid team-member">
                        {% if person.twitter %}
                        <a class="team-member__picture_container" href="https://twitter.com/{{ person.twitter }}">
                        {% else %}
                        <a class="team-member__picture_container">
                        {% endif %}
                        <img class="team-member__picture" src="{{ person.picture }}">
                        </a>
                        <div class="team-member__text">
                            <div class="team-member__text__content">
                                <h3>{{ person.name }}</h3>
                                <h5>{{ person.role }}</h5>
                                <!-- <h3>{{ person.topic }}</h3> -->
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="team-slit-bottom"></div>
        </section>
        <section id="sponsors">
            <div class="container">
                <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Partners</h2>
                <a href="https://hackjaipur.typeform.com/to/p9unMf"><button>Become A Partner!</button></a>
                <hr style="width:50px"/>
                <div class="sponsors-list">
                    <div class="partner">
                        {% for sponsor in site.data.sponsors.partners %}
                        <div class="sponsor-icons">
                            <a href="{{ sponsor.link }}"><img src="{{ sponsor.logo }}"/></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="sponsor-slit-top"></div>
        </section>
        <section id="teams"></section>
        <section id="team">
            <div class="container team-container">
                <div class="team-container__header">
                    <h2>Meet the team</h2>
                    <hr/>
                    <h3>Without a team of dedicated volunteers this hackathon simply would not happen. Here's your chance to meet the awesome people who are behind <span class="span-capital">HackJaipur.</span></h3>
                </div>
                <div class="team-grid-container">
                    {% for person in site.data.team %}
                    <div class="team-grid team-member">
                        {% if person.twitter %}
                        <a class="team-member__picture_container" href="https://twitter.com/{{ person.twitter }}">
                        {% else %}
                        <a class="team-member__picture_container">
                        {% endif %}
                        <img class="team-member__picture" src="{{ person.picture }}">
                        </a>
                        <div class="team-member__text">
                            <div class="team-member__text__content">
                                <h3>{{ person.name }}</h3>
                                <h5>{{ person.role }}</h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="team1-slit-bottom"></div>
        </section>
        <footer>
            <div id="footer-logo">
               <h5 style="color:#fff"><a target="_blank" href="https://devfolio.co/code-of-conduct" style="color:#fff">Moral Code of Conduct &nbsp;&nbsp; *&nbsp;&nbsp;&nbsp; </a> Contact us: <a href="mailto:support@hackjaipur.com" style="color:#fff">support@hackjaipur.com</a></h5>
            </div>
            <div class="social-links" id="footer-social">
                <a target="_blank" href="https://www.linkedin.com/company/HackJaipur/"><img src="images/linkedin.png"/></a>
                <a target="_blank" href="https://www.github.com/HackJaipur/"><img src="images/github.jpg"/></a>
                <a target="_blank" href="https://twitter.com/HackJaipur/"><img id="twitter" src="images/twitter.svg"/></a>
                <a target="_blank" href="https://instagram.com/hackjaipur/"><img id="logo" src="images/instagram.svg" /></a>
                <a target="_blank" href="https://t.me/hackjaipur"><img src="images/telegram.png"/></a>
            </div>
        </footer>

        <script>
            $(function() {
                $('a[href*="#"]:not([href="#"])').click(function() {
                    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                        if (target.length) {
                            $('html, body').animate({
                                scrollTop: target.offset().top
                            }, 1000);
                            return false;
                        }
                    }
                });
            });
        </script>

        <script>
                document.addEventListener('DOMContentLoaded', function () {
                let devfolioOptions = {
                    buttonSelector: '#devfolio-apply-now',
                    key: 'hackjaipur',
                }

                let script = document.createElement('script');
                script.src = "https://apply.devfolio.co";
                document.head.append(script);

                script.onload = function () {
                    new Devfolio(devfolioOptions);
                }

                script.onerror = function () {
                    document.querySelector(devfolioOptions.buttonSelector).addEventListener('click', function () {
                        window.location.href = 'https://devfolio.co/external-apply/' + devfolioOptions.key;
                    });
                }
            });
            $('.nav-mobile').on('click', function(){
               $('.nav-mobile-content-container').css({
                   maxHeight: '100%',
                   height: '100%',
                   opacity: 1
               })
            });
            $('#mobile-close').on('click', function(){
                $('.nav-mobile-content-container').css({
                    opacity: 0,
                    maxHeight: '0px'
                });
            });
        </script>

        <script>
            var myVideo = document.getElementById('video');
            if (typeof myVideo.loop == 'boolean') { // loop supported
                myVideo.loop = true;
            } else { // loop property not supported
                myVideo.on('ended', function () {
                    this.currentTime = 0;
                    this.play();
                }, false);
            }
            myVideo.play();
        </script>
    </body>
</html>
