#event-info{
  height: auto;
  background-image: url("../../images/congruent_outline.png");
  background-repeat: repeat;
  background-position: top;
  text-align: left;
  a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
  }
  button{
    -webkit-appearance: none;
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
    transition: all 0.2s ease;
    cursor: pointer;
    display: inline-block;
  }
  button:hover{
    background-color: white;
    color: black;
  }
  h1{
    font-size: xx-large;
    color: white;
    font-weight: 500;
    letter-spacing: 6px;
    padding-top: 50px;
  }
  h3{
    font-size: x-large;
    color: white;
    font-weight: 500;
    letter-spacing: 3px;
  }
  p{
    color: white;
    letter-spacing: 1px;
    font-size: medium;
    padding: 10px 0px;
  }
  .faq-post{
    margin: 40px 0px;
    color: white;
    h2{
      margin: 5px 0px;
      font-weight: 500;
      font-size: x-large;
    }
    hr{
      width: 5%;
      background-color: white;
      height: 2px;
      border: none;
      float: left;
      margin: 0px 0px 10px 0px;
    }
    p{
      font-weight: 400;
      font-size: medium;
    }
  }
  .google-maps{
    height: 534px;
    iframe{
      pointer-events: none;
      position: relative;
      top: -102px;
      z-index: 1;
    }
    #faq-slit-bottom{
      width: 100%;
      height: 103px;
      background-image: url("../../images/congruent_outline.png");
      background-repeat: repeat;
      background-position: bottom;
      -webkit-clip-path: polygon(100% 0, 100% 20%, 0 100%, 0 0);
      clip-path: polygon(100% 0, 100% 20%, 0 100%, 0 0);
      z-index: 2;
      position: relative;
    }
    #sponsor-slit-bottom{
      width: 100%;
      height: 103px;
      background-image: url("../../images/paper.png");
      background-repeat: repeat;
      background-position: bottom;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 66%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 66%);      position: relative;
      top: -172px;
      z-index: 6;
    }
  }
}

#event-countdown{
  height: auto;
  text-align: center;
  background-image: url("../../images/cream_back.png");
  background-repeat: repeat;
  padding: 30px 0px 0px 0px;
  img{
    width: 100px;
    margin: 30px;
  }
  h3{
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    span{
      letter-spacing: 7.2px;
      font-weight: 300;
    }
  }
  .countdown{
    margin: 100px;
    #countdown{
      letter-spacing: 15px;
      font-family: 'ingra', Arial;
      font-size: 60px;
      font-weight: 400;
    }
    h2{
      font-weight: 300;
      word-spacing: 45px;
    }
  }
  #faq-slit-top{
    width: 100%;
    height: 130px;
    background-image: url("../../images/congruent_outline.png");
    background-repeat: repeat;
    background-position: bottom;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 83%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 83%);
  }
}

@media screen and (max-width: 600px){
  #event-countdown .countdown{
    margin: 100px 0px !important;
  }
}
