#sponsors{
  text-align: left;
  background-image: url('../../images/paper.png');
  background-repeat: repeat;
  h2{
    font-weight: 500;
    font-size: xx-large !important;
    color: black;
    text-transform: uppercase;
    padding-top: 80px;
  }
  h3{
    font-weight: 400;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 100px;
    color: black;
  }
  hr{
    border: none;
    height: 2px;
    background-color: black;
    margin: 15px 0px 25px 0px;
  }
  .sponsors-list {
    text-align: center;
    padding-bottom: 80px;
    .gold .sponsor-icons{
      width: 50% !important;
    }
    .silver .sponsor-icons{
      width: 50%;
    }
    h2 {
      font-size: xx-large;
      display: block;
      padding-top: 20px;
    }
    .cat-icon {
      width: 80px;
      margin: 0px 10px;
      display: block;
      margin: auto;
    }
    .building, .gold, .silver, .bronze, .partner {
      text-align: center;
      margin-bottom: 100px;
      h3{
        text-align: center;
      }
      .sponsor-icons {
        display: inline-block;
        width: 28%;
        margin: 20px;
        img {
          width: 100%;
          max-height: 200px;
          object-fit: contain;
        }
      }
    }
  }
  #sponsor-slit-top{
    width: 100%;
    height: 130px;
    background-image: url("../../images/shape_back.png");
    background-repeat: repeat;
    background-position: bottom;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 83%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 83%);

  }
  .sponsor-container{
    padding: 50px 0px 70px 0px;
  }
  button{
    -webkit-appearance: none;
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.87);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.87);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
    transition: all 0.2s ease;
    cursor: pointer;
    margin: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 80px;
  }
  button:hover{
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
  }
}

@media screen and (max-width: 750px){
  .sponsor-icons{
    width: 50% !important;
  }
}

//@media screen and (max-width: 500px){
//  #bcs{
//    width: 80% !important;
//  }
//}

@media screen and (max-width: 700px){
  .silver .sponsor-icons{
    width: 80% !important;
  }
}

@media screen and (max-width: 450px) {
  #sponsors{
    h2{
      font-size: 48px;
    }
  }
}
